@model IEnumerable<Proyecto.Models.Equipo>

@{
    ViewBag.Title = "Index";
}

<h2>EQUIPOS</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", new { }, new { @class = "btn btn-info" })
</p>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong></strong>@TempData["AlertMessage"]
    </div>
}
<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.EquipoId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalles", "Details", new { id = item.EquipoId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.EquipoId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
